# create Api key here: https://lumalabs.ai/api/keys
LUMA_API_KEY=

# create Api key here: https://elevenlabs.io/app/settings/api-keys
ELEVENLABS_API_KEY=

# create Api key here: https://console.x.ai (xAI Console)
GROK_API_KEY=

# create Api key here: https://dev.runwayml.com/ (Runway Developer Portal)
RUNWAY_API_KEY=

# create Api key here: https://cloud.higgsfield.ai/api-keys
HIGGSFIELD_API_KEY=

